:root {
    --dark-bg: #1F2937;
    --white-txt: #F9FAF8; 
    --grey-txt: #E5E7EB;
    --blue-bg: #3882F6;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

.sect-1 {
    background-color: var(--dark-bg);  
    padding: 0 200px;
    padding-top: 10px;
    height: 450px;
}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
}
header .left-links {
    font-size: 24px;
    color: var(--white-txt);
    font-weight: 900;
}

header .right-links ul {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

header .right-links a {
    text-decoration: none;
}
header .right-links li {
    list-style: none;
    color: var(--grey-txt);
    font-size: 18px;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hero .left {
    width: 450px;
}
.hero .left h1 {
    font-size: 48px;
    color: var(--white-txt);
    font-weight: 900;
    padding: 0;
    margin: 0;
    line-height: 1.2;
}
.hero .left p {
    color: var(--grey-txt);
    font-size: 18px;
    margin: 0;
    margin-bottom: 10px;
}
.hero .left button {
    background-color: var(--blue-bg);
    color: var(--white-txt);
    padding: 5px 30px;
    border-radius: 5px;
    border: none;
}

.hero .right {
    width: 500px;
    height: 225px;
    background-color:var(--grey-txt);
    display: flex;
    justify-content: center;
    align-items: center;
}

.sect-2 {
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sect-2 h2 {
    font-size: 36px;
    color: var(--dark-bg);
    font-weight: 900;
}
.sect-2 .info-container {
    display: flex;
    flex-direction: row;
    gap: 50px;
}
.sect-2 .card {
    width: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sect-2 .info-container .img {
    width: 160px;
    height: 160px;
    border: 3px solid var(--blue-bg);
    border-radius: 8px;
} 
.sect-2 .info-container p {
    font-size: 18px;
    text-align: center;
}

.sect-3 {
    height: 450px;
    background-color: var(--grey-txt);
    padding: 0 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.sect-3 blockquote {
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
    color: var(--dark-bg);
    margin: 0;
    padding: 0;
}
.sect-3 .quoter {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}
.sect-3 .quoter p {
    margin: 0;
    padding: 0;
    font-weight: 700;
}

.sect-4 {
    height: 450px;
    margin: 0 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.action {
    display: flex;
    flex-direction: row;
    background-color: var(--blue-bg);
    border-radius: 6px;
    padding: 20px 100px;
    justify-content: space-between;
}

.action .left h3 {
    color: var(--white-txt);
    margin-bottom: 0;
}
.action .left p {
    color: var(--grey-txt);
    margin-top: 0;
}


.action .right {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.action .right button {
    padding: 5px 30px;
    border: 2px solid white;
    border-radius: 4px;
    background-color: var(--blue-bg);
    color: var(--white-txt)
}
